body {
    font-family: Arial, sans-serif;
    background-color: #f2ddcc;
  }
  body,
ul {
  margin: 0px;
  padding: 0px;
}

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .top-row > div, .bottom-row > div {
    background-color: #df643f;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 190px;
    height: 190px;
    border-radius: 15px; 
  }

  .games{
    padding: 0 75% 0 0;
  }
  
  h2 {
    margin-top: 0;
    color: white;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
  text-decoration: none;
  font-family: sans-serif;
  }
  
  a:hover {
    color: #23527c;
    background: rgba(0, 0, 0, 0.05);
  }

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7e7;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}
#btn-mobile {
  display: none;
}
@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

  .Audio-livro {
    width: 200px;
    height: 200px;
  }

  a {
    border: none;
    border-radius: 0.25rem;
    background: #df643f;
    color: white;
    font-family: -system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
  }
  
  a:hover {
    background: #fcac89;
  }
  
  a:focus {
    box-shadow: 0 0 0 2px #337ab7;
  }
  
  a:active {
    background: #fcac89;
    box-shadow: 0 0 0 2px #337ab7;
  }

  
  a.fill-div {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    }

    .cont {
      height: 200px;
      width: 200px;
    }

    .nota {
      height: 200px;
      width: 200px;
    }

    .Exercicios {
      height: 200px;
      width: 200px;
    }

.option {
  height: 250px;
  width: 250px;
  margin: 50px 100px;
}